.green-button {
  color: #33775a;
  background-color: #ffffff;
  font-weight: 300;
  border-color: #33775a;
  border-radius: 25px;
  border-width: medium;
  padding: 1rem (1rem * 1.5);
}

.green-button:hover,
.green-button:active,
.green-button:focus {
  color: #ffffff !important;
  background-color: #33775a !important;
  border-color: #33775a !important;
}
