.containerFooter {
  background-color: #004547;
  padding-bottom:2rem;
}

.title {
  font-family: Segoe UI;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 32px;
  color: #feba0f;
  padding-top:1rem;
}

.content {
  font-family: Segoe UI;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  color: #ffffff;
}
