.header {
  //top left&right bottom
  padding: 1rem 0 3rem;
}

.title {
  color: #000000;
  font-size: 3rem;
  text-decoration: none;
}

.nav-list {
  display: flex;
  list-style-type: none;
  margin: 0;
}

.nav-item {
  color: #33775a;
  font-size: 1rem;
  text-decoration: none;
  margin: 0 1.3rem;
}

.nav-item:hover {
  color: #005131;
  text-decoration: none;
}

.active-nav-item {
  color: #005131;
}

.nav-dropdown {
  color: #33775a;
  text-decoration: none;
}

.nav-dropdown:hover {
  color: #005131;
  text-decoration: none;
}
