.insta1 {
  display: flex;
  flex-wrap : wrap;
  justify-content: right;
  margin: auto;
  padding: 0.5rem 0;
}

.insta2 {
  box-shadow: 0;
  display: block;
  margin-top: 1rem;
  width: 120px;
  transition: 200ms box-shadow linear;
  :focus,
  :hover {
    box-shadow: 0 2px 14px #22222244;
    z-index: 10;
  }
}

.insta3 {
  width: 100%;
  * {
    margin-top: 0;
  }
}

.rounded {
    border-radius:25px;
    border: 1px solid rgba(0, 0, 0, 0.25);;
}

.username {
  font-size : 12px;
  font-weight : bold;
  margin-left : 20px;
}

.bio {
  font-size : 12px;
  margin-left : 20px;
  color: rgba(0, 0, 0, 0.5);
}

.button {
  margin : 20px 0px 20px 0;
  background-color: #007446;
  border: none;
  border-radius: 10px;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}