.container {
  margin: 0 auto;
  //   max-width: 750px;
  //top right bottom left
  padding: 1rem 0 0 1rem;

  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex-grow: 1;
}

.selengkapnya {
  color: #005131;
  text-decoration: none;
}
.selengkapnya:hover,
.selengkapnya:active,
.selengkapnya:focus {
  color: #004547;
  text-decoration: none;
}
